.navbar{
    .navbar-brand {
        img{
            height: 65px;
        }
    }
}
.navbar-nav .nav-link{
    color: grey;
    text-transform: uppercase;
    // border: 1px solid rgba(128,128,128, 0.1);
    margin-right: 10px;
    border-radius: 5px;
}