.home {
    .jumbotron {
        background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../../assets/img/jumbotron.jpg');
        background-size: cover;
        background-position: center;
        padding-bottom: 0px;
        padding-top: 0;
        border-radius: 0;
        .container {
            .map {
                height: 400px;
                display: block;
                margin: auto;
            }
            .card {
                border-radius: 0;
                background-color: rgba(255,255,255, 1);
                border: none;
                .card-body {
                    h3 {
                        color: grey;
                    }
                    .form-row {
                        .form-group {
                            .fas {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .cards-container {
        max-width: 1400px;
        .description {
            .business-card {
                margin-bottom: 20px;
                min-height: 225px;
                padding: 30px 10px;
                background-image: linear-gradient(to right, #e3e3e3, #e7e7e7, #eaeaea, #eeeeee, #f2f2f2);
                .activity {
                    .logo {
                        width: 145px;
                    }
                    h3 {
                        font-size: 1.1rem;
                        margin-bottom: 0;
                    }
                    p {
                        font-size: 0.9rem;
                        margin-bottom: 0;
                        .fas {
                            margin-right: 3px;
                            width: 15px;
                        }
                        .details {
                            color: #212529;
                        }
                        &.link .details {
                            color: #f00;
                            text-decoration: none;
                        }
                    }
                    .activity-domain{
                        margin-left: 5px;
                        margin-top: 5px;
                        font-weight: bold;
                    }
                }
                .address {
                    p {
                        margin-top: 20px;
                        margin-bottom: 0;
                        font-size: 0.9rem;
                        .fas {
                            margin-right: 7px;
                            width: 15px;
                        }
                    }
                }
            }
        }
    }
}
.footer {
    box-shadow: 0 0.125rem 11.25rem rgba(0, 0, 0, 0.075) !important;
    height: 50px;
    border-top: 1px solid $light;
    .footer-body {
        p {
            margin-bottom: 0;
        }
    }
}
@media (max-width: 1310px) {
    .navbar {
        flex-direction: column !important;
    }
}
@media (max-width: 1200px) {
    .navbar {
        .nav-link{
            font-size: 0.9rem;
        }
    }
}
@media (max-width: 991px) {
    .navbar {
        flex-direction: row !important;
    }
}
@media (max-width: 767px) {
    .home {
        .jumbotron {
            .container {
                .map {
                    height: 300px;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .home {
        .jumbotron {
            .container {
                .map {
                    height: 250px;
                }
            }
        }
    }
}
