.profil-judet {
    .carousel {
        .carousel-inner {
            position: relative;
            height: 600px;
            .carousel-item {
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
    .header {
        margin-top: -227px; 
        margin-bottom: 50px;
        .container {
            .card {
                border-radius: 0;
                background-color: rgba(255,255,255, 1);
                border: none;
                .card-body {
                    h3 {
                        color: gray;
                    }
                    .country-name {
                        .logo {
                            height: 74px;
                        }
                        .contact-links {
                            height: 438px;
                            min-width: 200px !important;
                        }
                    }
                    .contact-links {
                        max-width: 200px;
                        margin-top: 10px;
                        border: 1px solid gray;
                        height: 40px !important;
                        .far, .fas {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .accordion {
        .card {
            .card-header {
                .bbutton-link {
                    color: #f00;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
            .opportunities {
                .links {
                    margin-left: 8px;
                    margin-bottom: 10px;
                    border: 1px solid gray;
                    height: 40px !important;
                }
            }
        }
    }
}
@media (max-width: 1310px) {
    .navbar {
        flex-direction: column !important;
    }
}
@media (max-width: 1200px) {
    .navbar {
        .nav-link{
            font-size: 0.9rem;
        }
    }
}
@media (max-width: 991px) {
    .navbar {
        flex-direction: row !important;
    }
}
@media (max-width: 992px) {
    .profil-judet {
        .header {
            .container {
                .card {
                    .card-body {
                        padding-right: 10px;
                        .contact-links {
                            width: 150px;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .profil-judet {
        .header {
            .container {
                .card {
                    .card-body {
                        .country-links {
                            display: flex;
                            flex-direction: row !important;
                            flex-wrap: wrap;
                            justify-content: space-between !important;
                            padding-left: 5px;
                            .contact-links {
                               width: 40%;
                               height: 45px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}