.profile {
    .jumbotron {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/frezare.jpg');
        background-size: cover;
        background-position: center;
        height: 500px;
        padding-bottom: 0px;
        border-radius: 0;

        .container {
            .card {
                border-radius: 0;
                background-color: rgba(255, 255, 255, 1);
                border: none;

                .card-body {
                    h3 {
                        color: gray;
                    }

                    .companies-name {
                        .logo {
                            height: 90px;
                        }

                        .contact-links {
                            height: 38px;
                            min-width: 200px;
                            margin-bottom: 10px;
                        }
                    }
                    .contact-links {
                        max-width: 210px;
                        margin-top: 15px;
                        border: 1px solid gray;
                        height: 40px !important;
                        margin-bottom: 20px;
                        .far,
                        .fas {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .container {
        .description {
            .card-deck {
                .card {
                    padding-top: 20px;
                    .avatar {
                        width: 160px;
                    }
                    .card-body {
                        p {
                            font-size: 0.9rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .accordion {
        .card {
            .card-header {
                .button-link {
                    color: #0056b3;
                    background-color: transparent;
                    border-color: transparent;
                    text-decoration: none;
                }
            }
            .opportunities {
                .links {
                    margin-left: 8px;
                    margin-bottom: 10px;
                    border: 1px solid gray;
                    height: 40px !important;
                    .far {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1310px) {
    .navbar {
        flex-direction: column !important;
    }
}
@media (max-width: 1200px) {
    .navbar {
        .nav-link{
            font-size: 0.9rem;
        }
    }
}
@media (max-width: 991px) {
    .navbar {
        flex-direction: row !important;
    }
}
@media (max-width: 992px) {
    .profile {
        .jumbotron {
            .container {
                .card {
                    .card-body {
                        padding-right: 10px;
                        .contact-links {
                            width: 150px;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .jumbotron {
        height: 720px !important;
    }
}

@media (max-width: 576px) {
    .profile {
        .jumbotron {
            height: 750px !important;
            .container {
                .card {
                    .card-body {
                        .company-links {
                            display: flex;
                            flex-direction: row !important;
                            flex-wrap: wrap;
                            justify-content: space-between !important;
                            padding-left: 5px;
                            .contact-links {
                               width: 40%;
                               height: 45px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}