.profil-regiune {
    .jumbotron {
        background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../assets/img/jumbotron2.jpg');
        background-size: cover;
        background-position: center;
        height: 350px;
        padding-bottom: 0px;
        border-radius: 0;
        .container {
            .card {
                border-radius: 0;
                background-color: rgba(255,255,255, 1);
                border: none;
                .card-body {
                    h2 {
                        color: gray;
                    }
                }
            }
        }
    }
    .container-cards { 
        .regions {
            padding-top: 40px;
            padding-bottom: 87px;
            .country {
                .profile {
                    font-size: 1.2rem;
                    color: black;
                    font-weight: 500;
                    text-decoration: none;
                    .judet-wrapper {
                        margin-bottom: 30px;
                        padding-top: 50px;
                        padding-bottom: 50px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1310px) {
    .navbar {
        flex-direction: column !important;
    }
}
@media (max-width: 1200px) {
    .navbar {
        .nav-link{
            font-size: 0.9rem;
        }
    }
}
@media (max-width: 991px) {
    .navbar {
        flex-direction: row !important;
    }
}